.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.BackgroundImage {
  width: 100%;
  height: 100vh;
  background-image : url('../../public/images/old-main.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  text-align: center;
  padding: 2rem 2rem;
  margin: 1rem;
}

.credits {
  
}

.imgSquare {
  height: 60px;
  width: 60px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 1rem;
}

.diceButton {
  width: center;
  height: auto;
  color: black;
}

.Description {
  font-size: 18px;
  margin-top: 20px;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.5;
  text-align: center;
  position: fixed;
    left : 20%;
}

.GamePageBackground {
  position: fixed;
  inset: 0;
  background-color : lightblue;
  z-index: 0;

}

.pawnsHomepage{
  margin-top: 20%;
}

.singlePlayerPawn{
  margin-right: 50px;
}

.GameBoard {
  display:grid;
  width: min(80vmin, 900px);
  height: min(80vmin, 900px);
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
}

.GameBoardWrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.GameSquare {
  width: 85px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 0.7rem;
    background-color: lightgrey;
    text-align: center;
    padding: 2px;

    box-sizing: border-box;

    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;

    
}

.Greeting {
  color: rgb(192, 99, 7);
  font-family: 'Georgia', serif;
  font-size: 60px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.Pawn, .PlayerPawn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-right: 50px;
}


.Pawn:hover {
  transform: scale(1.25);
}

.PawnContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.PlayButton {
  padding: 65px 120px;
  font-size: 36px;
  margin-top: 20px;
  cursor: pointer;
  border-color: navy;
  position: fixed;
    bottom : 350px;
    left : 39.5%;
}

.PlayButton:hover {
  opacity: 0.8;
}

.Player {
  font-family:"Georgia", serif;
  text-align: center;
}

.PlayerSelect {
  margin-bottom: 80px;
}


.Players {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.StartButton {
  margin:auto;
  text-align: center;
  position: relative;
  display: block;
  height: 65px;
  width: 200px;
  background-color: rgb(224, 144, 58);
  color: white;
  padding: 8px solid black;
  font-family: "Georgia", serif;
  font-size: 24px;
  cursor: pointer;
}

.StartButton:hover {
  opacity: 0.8;
}

.buy-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.buy-window button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}
