.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.BackgroundImage {
  width: 100%;
  height: 100vh;
  background-image : url('../images/old-main.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Description {
  font-size: 18px;
  margin-top: 10px;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.5;
  text-align: center;
  position: fixed;
    left : 20%;
}

.GamePage {
  color : rgba(70, 70, 234, 0.74);
}

.Greeting {
  color: rgb(192, 99, 7);
  font-family: 'Georgia', serif;
  font-size: 48px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.PlayButton {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  position: fixed;
    bottom : 400px;
    left : 47.5%;
}
